.string-field-form {
  &__input-field {
    margin-right: 20px;
  }
}

.string-field-form-button {
  &__text-container {
    display: flex;
    align-items: center;
  }

  &__spinner {
    margin-left: 10px;
  }
}
