<form (submit)="submitForm()">
  <mat-form-field
    class="string-field-form__input-field"
    appearance="outline">
    <mat-label>
      {{ fieldName }}
    </mat-label>

    <input
      matInput
      required
      [formControl]="fieldControl">

    <mat-icon
      matPrefix
      class="my-icon">
      search
    </mat-icon>

    <mat-error *ngIf="fieldControl.invalid">This field can not be empty</mat-error>
  </mat-form-field>

  <button
    class="string-field-form__button"
    type="submit"
    mat-flat-button
    color="primary">
    <div class="string-field-form-button__text-container">
      Submit

      <mat-spinner
        *ngIf="isLoading"
        class="string-field-form-button__spinner"
        diameter="20"
        color="accent">
      </mat-spinner>
    </div>
  </button>
</form>


